---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Pillars from "../components/Pillars.astro";
import Collaborate from "../components/Collaborate.astro";
import SayHi from "../components/SayHi.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav variant='dark' active='home' />
  <Hero />
  <main class='relative z-2 mx-auto max-w-[1556px] px-6 pt-[clamp(40px,4vw,70px)]'>
    <Pillars />
    <Collaborate />
    <SayHi variant='green' />
  </main>
  <Footer variant='green' />
</Layout>
