<footer>
  <h2>Say hi</h2>
  <a href='mailto:hi@siren-farm.com'>hi@siren-farm.com</a>
  <p>Sitio do Poço, Caparosinha - Tondela Portugal</p>
</footer>

<style>
  h2,
  a,
  p {
    display: block;
    color: #e6bc68;
    text-align: center;
  }

  h2 {
    margin-bottom: 1em;
  }
</style>
