---
import LogoLight from '../assets/logo-light.svg';
---

<footer class="mb-10 mt-14 px-1 text-center md:mt-16 md:px-6">
  <div class="m-auto mb-7 flex max-w-95 flex-row items-center justify-between rounded-full bg-rum-swizzle py-3 pl-8 pr-3 md:pl-10">
    <h2 class="h-12 text-[2.25rem] leading-none text-saffron-mango md:h-16 md:text-xl">Say hi!</h2>
    <div class="flex h-18 w-18 items-center justify-center rounded-full bg-white md:h-24 md:w-24">
      <span class="h-12 text-[2.25rem] leading-none text-saffron-mango md:h-18 md:text-xl">→</span>
    </div>
  </div>
  <a class="text-[1.25rem] leading-8 text-rum-swizzle underline decoration-putty md:text-sm" href='mailto:hi@siren-farm.com'>hi@siren-farm.com</a>
  <div class="mt-16 flex flex-col items-center justify-center gap-7 text-center text-[1.35rem] leading-8 text-rum-swizzle md:mt-28 md:flex-row md:gap-21 md:text-left md:text-base">
    <div class="flex-1 md:flex md:justify-end">
      <p class="max-w-60 md:max-w-50 md:self-right">With love, From Tondela</p>
    </div>
    <LogoLight class="w-32 md:w-auto" />
    <div class="flex-1">
      <p class="max-w-100">Sitio do Poço, Caparosinha Tondela Portugal</p>
    </div>
  </div>
</footer>
