<div class="m-auto max-w-[724px] px-1 text-center">
  <h1 class="mb-6 text-[3.5rem] leading-none text-putty md:mb-7 md:text-2xl">
    Siren Farm
  </h1>
  <p class="text-[1.18rem] leading-8 text-white md:text-sm">
    Siren is an outdoor medical cannabis project in Portugal that blends
    regenerative agriculture and advanced technology to produce high-quality
    fresh cannabis under INFARMED regulation.
  </p>
</div>
