<div class="max-w-[724px] text-center m-auto">
  <h1 class="text-2xl text-putty mb-7">Siren Farm</h1>
  <p class="text-sm text-white">
    Siren is an outdoor medical cannabis project in Portugal that blends
    regenerative agriculture and advanced technology to produce high-quality
    fresh cannabis under INFARMED regulation.
  </p>
</div>

